@import '../../../Style/commonStyle.scss';
.card-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;   
}
.card {
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.06);
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    flex: 0 1 calc(33.33% - 20px);  
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  
    &:hover {
      transform: translateY(-5px);
      box-shadow: 0 8px 16px rgba(0, 0, 0, 0.12);
    }
  
    .card-icon {
        img {
            width: 35%;
        }
    }
  
    .card-title {
      font-size: 1.25rem;
      margin-bottom: 10px;
      font-weight: 600;
      color: $blue-deep;
    }
  
    .card-description {
      font-size: 1rem;
      padding: 0 10px;
      color: $grey-deep;
    }

    @media (max-width: 660px) {
        flex: 0 1 100%;
    }
  }
  