$blue-medium: #7fa2d8;
$blue-deep: #2b45a1;
$blue-light: #85cec3;

$grey-light: #cbd2c1;
$grey-medium: #ccc8b2;
$grey-deep: #668b83;

$brown-deep: #a32929;
$red-deep: #e21350;

$white: #ffffff;
$black: #000000;

