// _login.scss

.login-wrapper {
    width: 80%;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
  
    > div {
      display: flex;
      align-items: center;
      justify-content: space-around;
      margin-bottom: 20px;
  
      label {
        width: 40%;
        text-align: left;
        font-weight: bold;
      }
  
      input {
        width: 55%;
        padding: 8px;
        font-size: 1rem;
      }
      button {
        width: 55%;
        padding: 8px;
        font-size: 1rem;
      }
    }
  
    // Mobile styles
    @media (max-width: 600px) {
      > div {
        flex-direction: column;
        align-items: flex-start;
  
        label,
        input, button {
          width: 100%;
        }
  
        input {
          margin-top: 8px;
        }
      }
    }
  }
  