@import './Style/commonStyle.scss';

.App {
  text-align: center;
  // background-color: $blue-medium;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.main-content-wrapper {
  width: 80%;
  margin: 0 auto;

  ul li {
    list-style-type: none;
  }
}